@{
    ViewData["Title"] = "Home Page";


}

<link href="/css/StyleSheet.css" rel="stylesheet" />

Welcome to the start page!

 
 @ViewData["error"]

 
 

<form method="post" action="/Home/StartGame">
    Please enter your name: <input type="text" name="name" />

   
    <input type="submit" value="Start game!" />
</form>
